@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to AquAnalyzer!</h1>

<p>Your system for automated water tracking</p>

<div class="image-container">
    <img src="AquAnalyzerWebApp/wwwroot/images/AquAnalyzerPersonPic.png" alt="PersonPic" class="image">
    <img src="AquAnalyzerWebApp/wwwroot/images/AquAnalyzerNaturePic.png" alt="NaturePic" class="image">
</div>

<style>
    h1 {
        color: #2c3e50; /* Dark blue color */
        margin-bottom: 16px; /* Space below the title */
    }

    p {
        color: #34495e; /* Slightly lighter blue */
        margin-bottom: 24px; /* Space below the paragraph */
    }

    .image-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 24px; /* Space above the images */
    }

    .image {
        max-width: 45%; /* Adjust the width of the images */
        border-radius: 8px; /* Rounded corners */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    }
</style>
