@page "/report"
@using AquAnalyzerAPI.Models;
@using AquAnalyzerWebApp.Interfaces;
@inject IReportPageService ReportPageService;

<h3>Report</h3>

<div>
    <h4>@Report.Title</h4>
    <p>@Report.Description</p>
    @* <p>Generated on: @Report.GeneratedDate</p> *@
</div>

@if (Report.Visualisations.Any())
{
    <div>
        @foreach (var visualisation in Report.Visualisations)
        {
            <Visualisation VisualisationData="visualisation" />
        }
    </div>
}
else
{
    <p>No visualizations to display.</p>
}

@code {
    private Report mockReport = new Report
        {
            Id = 1,
            Title = "Report on Water",
            Description = "This is a mock report about water analysis."
        };

    private Report Report { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Report = await ReportPageService.GetReportById(mockReport.Id);
    }
}
